
<div class="alphabet-header">
  <h3 class="header-letter-one" ><u>Learning the Phonetic Sounds</u></h3>
  <h2 class="header-letter-one" >Click any letter</h2>
</div>
<mat-divider></mat-divider>
<mat-accordion>

  <mat-expansion-panel (opened)="panelOpenState = true" [hideToggle]="true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header class="mat-expansion-panel-header" [collapsedHeight]="customCollapsedHeight"
                                [expandedHeight]="customExpandedHeight">

      <mat-panel-description style="display: block" *ngFor="let letter of letters">

          <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="toggleShow(letter)">{{letter}}</button>
          </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
   </mat-expansion-panel>
</mat-accordion>
<div class="phonetic-sound">
  <button mat-raised-button color="accent" *ngIf="isShown">{{Asound}}</button>
</div>
<!--<section>-->

<!--  <div class="example-button-row" >-->
<!--    <button mat-raised-button color="primary" (click)="toggleShow(letter)">{{letter}}</button>-->

<!--    <div class="phonetic-sound">-->
<!--      <button mat-raised-button color="accent" *ngIf="isShown">{{Asound}}</button>-->


<!--    </div>-->
<!--&lt;!&ndash;    Here i need to get the worksheet in from worksheetfun&ndash;&gt;-->
<!--&lt;!&ndash;    speech playback.&ndash;&gt;-->
<!--&lt;!&ndash;    https://www.education.com/worksheet/article/coloring-learn-letter-a/&ndash;&gt;-->
<!--  </div>-->

<!--</section>-->
