
.header-letter-one{
  padding-top: 1%;
  font-weight: bolder;
  font-size: x-large;
  text-align: center;
}

.example-button-row .mat-raised-button {
  font-size: 280%;
  height: 70px;
  width: 10%;
}

.phonetic-sound {
  padding-top: 5%;
  text-align: center;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

