
<div class="alphabet-header">
  <h3 class="header-letter-one" ><u>Learning the Phonetic Sounds</u></h3>
  <h2 class="header-letter-one" >Click any letter</h2>
</div>
<mat-divider></mat-divider>
<section>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="toggleShow()">A</button>
    <button mat-raised-button color="primary">B</button>
    <button mat-raised-button color="primary">C</button>
    <button mat-raised-button color="primary">D</button>
    <button mat-raised-button color="primary">E</button>
    <button mat-raised-button color="primary">F</button>
    <button mat-raised-button color="primary">G</button>
    <button mat-raised-button color="primary">H</button>
    <button mat-raised-button color="primary">I</button>
    <button mat-raised-button color="primary">J</button>
    <button mat-raised-button color="primary">K</button>
    <button mat-raised-button color="primary">L</button>
    <button mat-raised-button color="primary">M</button>
    <button mat-raised-button color="primary">N</button>
    <button mat-raised-button color="primary">O</button>
    <button mat-raised-button color="primary">P</button>
    <button mat-raised-button color="primary">Q</button>
    <button mat-raised-button color="primary">R</button>
    <button mat-raised-button color="primary">S</button>
    <button mat-raised-button color="primary">T</button>
    <button mat-raised-button color="primary">U</button>
    <button mat-raised-button color="primary">V</button>
    <button mat-raised-button color="primary">W</button>
    <button mat-raised-button color="primary">X</button>
    <button mat-raised-button color="primary">Y</button>
    <button mat-raised-button color="primary">Z</button>
    <mat-divider></mat-divider>

    <div class="phonetic-sound">
    <button mat-raised-button color="accent" *ngIf="isShown">Apple</button>
    <button mat-raised-button color="accent" *ngIf="isShown">Ant</button>
    <button mat-raised-button color="accent" *ngIf="isShown">Arrow</button>
    </div>
<!--    Here i need to get the worksheet in from worksheetfun-->
<!--    speech playback.-->
<!--    https://www.education.com/worksheet/article/coloring-learn-letter-a/-->
  </div>
</section>
